---
import Layout from "../../layouts/Layout.astro";
import Input from "../../components/Input.component.astro";
import Button from "../../components/CtaButton.component.astro";
import PasswordInput from "./components/PasswordInput";
---

<Layout title="Login">
  <script>
    const { signIn } = await import("auth-astro/client");
    document.addEventListener("DOMContentLoaded", () => {
      const form = document.querySelector("form");
      if (form) {
        form.addEventListener("submit", async (event) => {
          event.preventDefault();
          const formData = new FormData(event.target as HTMLFormElement);
          const email = formData.get("email");
          const password = formData.get("password");
          const repeat_password = formData.get("repeat_password");
          if (password !== repeat_password) {
            alert(
              "Las contraseñas no coinciden. Por favor, verifica e intenta de nuevo."
            );
            return;
          }
          const res = await signIn("credentials", {
            email: email,
            password: password,
            redirect: false,
          });
          console.log(res);
        });
      }
    });
  </script>

  <main>
    <div>Image</div>
    <div>
      <div class="login-form">
        <h2>Inicia Sesión</h2>
        <form method="post">
          <Input
            type="email"
            label="Correo Electronico"
            placeholder="Correo Electronico"
            name="email"
            icon="mail"
          />
          <PasswordInput
            label="Contraseña"
            placeholder="Ingresa tu Contraseña"
            client:visible
          />
          <PasswordInput
            name="repeat_password"
            label="Repetir Contraseña"
            placeholder="Verifica tu Contraseña"
            client:visible
          />
          <Button type="submit">Iniciar sesión</Button>
          <!-- <div
            class=`error-container ${message_error ? 'error-on' : 'error-off'}`
          >
            <div class="warning-icon-container">
              <Icon class="warning-icon" name="warning" />
            </div>
            {message_error && <p>{message_error}</p>}
          </div> -->
        </form>
        <div class="login-link">
          <p>¿Aún no tienes cuenta?</p>
          <a href="/auth/register">Registrarse</a>
        </div>
      </div>
    </div>
  </main>

  <style>
    main {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    }
    .login-form {
      border-color: var(--borders);
      background-color: #ecf1f5;
      filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
      border-radius: 2.4rem;
      padding: 3.1rem 1.6rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      width: 60rem;
      padding: 2.4rem 4.8rem;

      form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1.6rem;
      }

      .login-link {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;

        p {
          color: var(--secondary-text);
          font-size: 1.4rem;
          font-weight: 500;
        }
        a {
          color: var(--primary-text);
          font-size: 1.4rem;
          font-weight: 700;
        }
      }
    }
    .error-on {
      visibility: visible;
      opacity: 1;
    }
    .error-off {
      visibility: hidden;
      opacity: 0;
    }
    .error-container {
      transition: all 0.3s ease-in-out;
      background-color: rgba(var(--error), 0.2);
      width: 100%;
      height: 4rem;
      border-radius: 0.8rem;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 0.8rem;
      font-size: 1.3rem;
      color: var(--primary-text);
      font-weight: 600;

      .warning-icon-container {
        background-color: rgb(var(--error));
        width: 4rem;
        height: 4rem;
        border-radius: 0.8rem 0 0 0.8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .warning-icon {
          font-size: 2.4rem;
          color: white;
        }
      }
    }
  </style>
</Layout>
